<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem   
            name="SMP"  
            id="is_smp_main_menu" 
            sequence="1"
        />
        <menuitem   
            name="SMP"  
            id="is_smp_menu" 
            parent="is_smp_main_menu" 
            sequence="10"
        />
        <menuitem
            name="Affaires"
            id="is_affaire_menu" 
            action="is_affaire_action"
            parent="is_smp_menu" 
            sequence="10"
        />
        <menuitem
            name="Sous-ensembles"
            id="is_sous_ensemble_menu" 
            action="is_sous_ensemble_action"  
            parent="is_smp_menu" 
            sequence="20"
        />
        <menuitem
            name="Lignes de sous-ensembles"
            id="is_sous_ensemble_line_menu" 
            action="is_sous_ensemble_line_action"  
            parent="is_smp_menu" 
            sequence="30"
        />





        <menuitem
            name="Lignes de commandes"
            id="is_purchase_order_line_menu" 
            action="is_purchase_order_line_action"
            parent="purchase.menu_procurement_management" 
            sequence="10"
        />


        <menuitem
            name="Modèles de mails"
            id="is_mail_template_menu" 
            action="is_mail_template_action"
            parent="purchase.menu_procurement_management" 
            sequence="90"
        />




        <menuitem
            name="Lignes de factures"
            id="is_account_invoice_line_customer_menu" 
            action="is_account_invoice_line_customer_action"
            parent="account.menu_finance_receivables" 
            sequence="11"
        />

        <menuitem
            name="Lignes de factures"
            id="is_account_invoice_line_supplier_menu" 
            action="is_account_invoice_line_supplier_action"
            parent="account.menu_finance_payables" 
            sequence="11"
        />






        <menuitem   
            name="Tables"  
            id="is_purchase_table_menu" 
            parent="purchase.menu_purchase_root" 
            sequence="900"
        />
        <menuitem
            name="Professions"
            id="is_profession_menu"
            action="is_profession_action"
            parent="is_purchase_table_menu"
            sequence="10"
        />
        <menuitem
            name="Matières"
            id="is_matiere_menu"
            action="is_matiere_action"
            parent="is_purchase_table_menu"
            sequence="20"
        />
        <menuitem
            name="Catégories articles"
            id="is_categorie_article_menu"
            action="is_categorie_article_action"
            parent="is_purchase_table_menu" 
            sequence="30"
        />


    </data>
</odoo>
